maak_aangepaste_groepen_uit_buurten.R
lvc_ingedeelde_gebieden_met_wijklaag.dbf
lvc_ingedeelde_gebieden_met_wijklaag.prj
lvc_ingedeelde_gebieden_met_wijklaag.shp
lvc_ingedeelde_gebieden_met_wijklaag.shx
